/* VDrawer - sidebar layout (replaces DaisyUI drawer) */
.drawer {
  @apply relative min-h-screen;
}

.drawer__content {
  @apply relative z-0 flex flex-col min-h-screen;
}

.drawer__overlay {
  @apply fixed inset-0 z-40 bg-black/50 transition-opacity duration-200 lg:hidden;
}

.drawer__side {
  @apply fixed top-0 z-50 h-full w-80 max-w-[85vw] bg-surface-variant dark:bg-gray-800 shadow-xl transition-transform duration-300 ease-out lg:hidden;
}

.drawer__side {
  @apply left-0;
}

.drawer__side:not(.drawer__side--open) {
  @apply -translate-x-full;
}

.drawer__side--open {
  @apply translate-x-0;
}
